*.o

.cproject
.project
.pydevproject
.settings/
main

.vscode/
.vscode/*.log

.gitman_sources/
lib/cnpy/build
lib/cnpy/install
open_list.csv
samples.csv
path.csv
tree.csv
blender/track.mtl
python/tree.png
python/open_list.png
roadmap_*
vendor/gitman
